* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  /* width: 100vw; */
  overflow-x: hidden;
  /* font-family: "Roboto", sans-serif; */

  font-family: "Open Sans", sans-serif;
  /* font-weight: 400; */
  margin: 0 auto;
  font-size: 1.6rem;
}

a.btn {
  font-size: 1.4rem;
}

button {
  font-size: 1.4rem;
}
h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.87rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.32rem;
}

h6 {
  font-size: 1.072rem;
}

p {
  font-size: 1.6rem;
}

form {
  font-size: inherit;
}
/* top Menu */

.top_menu {
  background-color: yellowgreen;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

.top_menu .top_menu_links {
  list-style: none;

  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.top_menu .top_menu_links .top_menu_link {
  margin-right: 3rem;
  /* padding-top: 10px; */
}

.top_menu .top_menu_links .top_menu_link a {
  color: #020202;
  font-size: 1.6rem;
}
.main_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_main_logo {
  width: 13rem;
}

.footer_logo {
  width: 15rem;
}
.contact_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  /* padding-top: 10px; */
}

.contact_box .contact_details {
  display: flex;
  /* align-items: center; */
}

.contact_box .contact_details h6 {
  margin-right: 1rem;
}

.contact_box .contact_details h6 i {
  font-size: 2rem;
}

.nav_menu li {
  background-color: #00b7b9;
  border-bottom: 0.4rem solid transparent;
  transition: all 0.5s ease;
}
.nav_menu li:hover {
  /* border-bottom: 4px solid olivedrab; */
  border-bottom: 0.4rem solid orange;
}

.nav_menu .nav-item .nav-link {
  padding: 1rem 4rem;
  color: #fff;
}

.nav_menu li:not(:last-of-type) {
  border-right: 1px solid #fff;
}
.navbar-brand_hide {
  display: none;
}
.navbar-brand_show {
  display: block;
  background-color: #00b7b9;
}

.fixed-top.navbar {
  padding: 0px;
  z-index: 9999;
  width: 100%;
}

.slider_container {
  width: 100%;
  /* position: relative; */
}

.slider_container .slides li img {
  object-fit: cover;
}

.flexslider .slides img {
  object-fit: cover;
  height: 90vh;
}

.flex-control-nav {
  z-index: 111;
  bottom: 7rem;
}

.flexslider {
  margin-bottom: 0px;
  position: relative;
}

.slider_content_box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* about section style start */

.about__main_title {
  color: #00b7b9;
}

/* about section style start */

.feature_section {
  position: relative;
  top: -6rem;
  left: 0;
  z-index: 1111;
}

.box {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.4rem solid transparent;
  transition: all 0.3s ease;
  /* margin-bottom: 5rem; */
  /* box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15); */
}

.box:hover {
  border-bottom: 0.4rem solid orange;
}

.box .icon {
  height: 7rem;
  margin-bottom: 3rem;
}
.box-1,
.box-3 {
  /* background-color: yellowgreen; */
  background-image: radial-gradient(rgb(140, 211, 35), rgb(102, 151, 5));
}

.box-2,
.box-4 {
  /* background-color: #00b7b9; */
  background-image: radial-gradient(#22d8db, #04a4a7);
}

/* Course card start */

.course_card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 100%;
  height: 48rem;
}

.course_card__side {
  color: #fff;
  font-size: 2rem;
  height: 48rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  width: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.course_card__side--front {
  background-color: #fff;
  width: 100%;
  color: rgb(78, 78, 78);
}

.course_card__side--back {
  /* background-color: yellowgreen; */
  transform: rotateY(180deg);
  width: 100%;
}

.card_1 {
  background-image: linear-gradient(
    to right bottom,
    rgb(181, 238, 66),
    rgb(87, 126, 10)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_2 {
  background-image: linear-gradient(
    to right bottom,
    rgb(66, 218, 238),
    rgb(10, 93, 126)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.course_card:hover .course_card__side--front {
  transform: rotateY(-180deg);
}

.course_card:hover .course_card__side--back {
  transform: rotateY(0);
} */

.course_card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.course_card__picture--1 {
  background-image: linear-gradient(
      to right bottom,
      rgb(181, 238, 66),
      rgb(87, 126, 10)
    ),
    url(../images/courses/pic-1.jpg);
}

.course_card__picture--2 {
  background-image: linear-gradient(
      to right bottom,
      rgb(66, 218, 238),
      rgb(10, 93, 126)
    ),
    url(../images/pic2.jpg);
}

.course_card__heading {
  font-size: 2.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 13rem;
  right: 2rem;
  text-align: right;
  width: 45%;
}

.course_card__details {
  padding: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.course_card__details ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.course_card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.course_card__details ul li p {
  text-align: center;
  font-size: 1.5rem;
}

.course_card__details ul li:not(:last-of-type) {
  border-bottom: 0.1rem solid #eee;
}

.course_card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-height: 1.7;
}

.course_card__heading--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(181, 238, 66, 0.85),
    rgba(87, 126, 10, 0.85)
  );
}

.course_card__heading--2 {
  background-image: linear-gradient(
    to right bottom,
    rgb(66, 218, 238),
    rgb(10, 93, 126)
  );
}

/* course card backside start */

.course_card__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_card__cta .course_card_price-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course_card_price-value {
  font-weight: normal;
  font-size: 3rem;
}

.course_btn {
  font-size: 1.4rem;
}

/* course card backside End */

.dash {
  width: 10rem;
  height: 0.3rem;
  background-color: orangered;
  margin-bottom: 1rem;
}

.main__heading {
  text-align: center;
  margin-bottom: 3rem;
}

.course_section {
  margin: 5rem 0rem;
  padding: 8rem 5rem 10rem 5rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/pic3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* popular course style start */
.popular_courses_section {
  margin: 10rem 0rem;
}

.popular_courses_section .card-img-top {
  min-height: 20rem;
}
.popular_courses_section .carousel-indicators {
  display: none;
}

.popular_courses_section .carousel-control-prev,
.popular_courses_section .carousel-control-next {
  top: 112%;
  width: 90%;
}

.popular_courses_section .carousel-control-prev-icon {
  background-image: url(../images/popular_course/arrow_left.png);
}

.popular_courses_section .carousel-control-next-icon {
  background-image: url(../images/popular_course/arrow_right.png);
}

.popular_courses_section .carousel-control-next-icon,
.popular_courses_section .carousel-control-prev-icon {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  padding: 1.5rem;
}

/* popular course style End */

/* achievements style start */

.achievements_section {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9)
    ),
    url(../images/achievements/pic-1.jpg);
  color: #fff;
  padding: 10rem 2rem 15rem 2rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 5rem 0;
}

.achievements_title_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement_stats_box {
  margin-top: 5rem;
}

.achievement_stats_box .achievements_stat_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #444444;
  padding: 3rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.5rem 1rem 3rem #02020294;
}

.stat_value_box .stat_value {
  color: #00b7b9;
}

.stat_value_box span:last-of-type {
  font-size: 1.6rem;
}

.achievement_stats_box .achievements_stat_box .stat_value {
  font-size: 3.5rem;
}

.achievements_stat_box h6 {
  font-size: 2.2rem;
}

/* achievements style end */

/* message section start */

.message_section {
  margin: 10rem 0rem;
}

/* message section End */

/* testimonials style start */
.testimonial_section {
  margin: 10rem 0rem 0rem 0rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(20, 131, 146, 0.853),
      rgba(4, 66, 90, 0.953)
    ),
    url(../images/testimonial/testimonial_bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 8rem 2rem 6rem 2rem;
}

.testimonial_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.testimonial_img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  margin-bottom: 1rem;
}
.testimonial_img img {
  width: 10rem;
  height: 10rem;
  border: 0.2rem solid #fff;
  padding: 0.5rem;
  border-radius: 100%;
  object-fit: cover;
}

.testimonial_section .carousel-item {
  margin-bottom: 6rem;
}
.testimonial_person_detail {
  line-height: 1;
}

.testimonial_section .carousel-item h6 {
  font-weight: normal;
}

.testimonial_section .carousel-item .testimonial_mgs {
  margin: 5rem 1rem;
}

/* testimonials style End */

/* social link fixed style start*/
.social-nav {
  position: fixed;
  top: 50%;
  left: -2.3rem;
  transform: translateY(-50%);
  z-index: 9999;
  transition: all 0.5s;
  display: none;
}
.social-nav.active {
  left: 0;
}

.enable {
  display: block;
}

.nav-toggler {
  position: absolute;
  top: 0;
  right: -2rem;
  height: 3rem;
  width: 3rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: #3b5998;
  display: flex;
  color: #fff;
}
.social-nav a {
  text-decoration: none;
}
.icon-link {
  display: flex;
  width: 3rem;
  height: 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  transition: all 0.5s;
}

.nav-toggler i,
.icon-link i {
  margin: auto;
}

.icon-link.facebook {
  background-color: #3b5998;
}

.icon-link.twitter {
  background-color: #1da1f2;
}

.icon-link.pinterest {
  background-color: #bd081c;
}
.icon-link.youtube {
  background-color: #ff0000;
}
.icon-link.linkedin {
  background-color: #007bb5;
}

.icon-link:hover {
  background-color: #151515;
}

/* social link fixed style End*/

/* footer style start  */
.footer_section {
  margin: 0px 0 0 0;
  padding: 5rem 2rem;
  background-color: rgb(20, 20, 20);
  color: rgb(216, 215, 215);
}

.footer_title {
  text-transform: uppercase;
}

.footer_title::before {
  content: "|";
  color: #00b7b9;
  padding-right: 1rem;
}

.footer_useful_links {
  list-style: none;
  padding-left: 1rem;
  color: rgb(216, 215, 215);
}
.footer_useful_link {
  padding-left: 1rem;
}

.footer_useful_link:not(:last-of-type) {
  border-bottom: 0.1rem solid rgb(197, 197, 197);
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

.footer_useful_link:hover {
  border-bottom-color: #00b7b9;
  transform: translateX(0.3rem);
}

.footer_useful_link a {
  text-decoration: none;
}

.footer_useful_links a {
  color: rgb(216, 215, 215);
}

.footer_social_links {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.footer_social_links a {
  text-decoration: none;
}

.footer_social_links i {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #00b7b9;
  transition: all 0.5s ease;
  box-shadow: 0.5rem 1rem 2rem #020202;
}

.footer_social_links i:hover {
  background-color: #00b7b9;
  color: #fff;
}

.footer_subscribe_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_subscribe_form .input_field {
  width: 90%;
  height: 3.3rem;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  border-bottom: 0.3rem solid transparent;
  box-shadow: 0.5rem 1rem 2rem #020202;
  transition: all 0.5s ease;
}

.footer_subscribe_form .input_field:focus {
  border-bottom: 0.3rem solid #00b7b9;
}

.footer_subscribe_form .submit_btn {
  width: 90%;
  height: 3.3rem;
  outline: none;
  border: none;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.5s ease;
  color: rgb(49, 49, 49);
  box-shadow: 0.5rem 1rem 2rem #020202;
}

.footer_subscribe_form .submit_btn:hover {
  background-color: #00b7b9;
  color: #fff;
}

.footer_subscribe_form .submit_btn:active {
  transform: translateY(0.5rem);
}

.footer_note {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  /* border-top: 1px solid greenyellow; */
}

.footer_note a {
  color: #00b7b9;
}
/**********About Page Start************/

.page-title {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/pic4.jpg);
  width: 100%;
  height: 30rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.page_title_links {
  list-style: none;
  display: flex;
}
.page_title_links li {
  margin-right: 2rem;
  position: relative;
}

.page_title_links li:not(:first-of-type)::before {
  content: "/";
  position: absolute;
  top: 0px;
  left: -2.2rem;
  padding-left: 1rem;
}

.page_title_links li a {
  color: #00b7b9;
}

.about_section {
  margin: 3rem 0;
}

/**********About Page End************/

/* Quick Enquiry form style start */
.quick_enquiry_form {
  font-size: 1.6rem;
}

.quick_enquiry_form input {
  height: 4rem;
  outline: none;
  font-size: 1.6rem;
}

.quick_enquiry_form select {
  font-size: 1.4rem;
}

.quick_enquiry_form textarea {
  font-size: 1.6rem;
}

.quick_enquiry_form .submit_btn {
  padding: 0rem 3rem;
}
.quick_enquiry_form input:active {
  outline: none;
}

.quick_enquiry_form input::placeholder,
.quick_enquiry_form textarea::placeholder {
  font-size: 1.4rem;
}

/* Quick Enquiry form style End */

.section_title {
  font-family: "Playfair Display SC", serif;
  font-size: 3rem;
  font-weight: 400;
}
